.lead {
  font-size: 15px;
}
a {
  text-decoration: none;
  color: white;
  /* font-weight: 500; */
}
p {
  font-size: 11px;
}
.ui-footer {
  margin-top: 190px;
  margin-bottom: 33px;
  /* height: 235px; */
}
.fa-brands:hover {
  font-size: 25px;
  color: yellowgreen;
}
